
MVP requirements:
------------------------
done:
- contacts
- contacts (latest activity)
- contacts filtered on name and whether they want to be notified
- list activities (filter by summary)
- pagination
- add, delete contacts
- add, delete activities


Post MVP requirements:
------------------------
- list, add and delete companies
- dynamically create a new contact and company whilst adding an activity
- contacts search suggestions using ajax lookup
- unit tests
- functional tests
- edit screens
- job applications
- login/logout

application schema:
job title, job spec, start date, daily rate, duration, hours, days remote, contact_id,
status (Submitted/On Hold/Successful/Unsuccessful))
